 .rotate {
-webkit-animation: cssAnimation 0.5s infinite ease;
-moz-animation:  cssAnimation 0.5s infinite ease;
-o-animation: cssAnimation 0.5s infinite ease;
}
@-webkit-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
 }
}
@-moz-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
 }
}
@-o-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px) ;
 }
}